*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#f4f4f4;
    color:#222;
}

/* NAVBAR */
.navbar{
    background:#0a8f08;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar nav a{
    color:white;
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
}

.navbar nav a:hover{
    text-decoration:underline;
}

/* LAYOUT */
.container{
    display:flex;
    padding:20px;
}

/* SIDEBAR */
.sidebar{
    width:30%;
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.sidebar img{
    width:100%;
    margin:10px 0;
}

.sidebar iframe{
    width:100%;
    height:200px;
    border:none;
    margin:10px 0;
}

.btn{
    display:block;
    text-align:center;
    background:#0a8f08;
    color:white;
    padding:10px;
    text-decoration:none;
    border-radius:5px;
}

/* CONTENT */
.content{
    width:70%;
    margin-left:20px;
}

.content section{
    background:white;
    margin-bottom:25px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.content img{
    width:100%;
    margin:15px 0;
    border-radius:10px;
}

.content iframe{
    width:100%;
    height:300px;
    border-radius:10px;
}

/* FOOTER */
footer{
    background:#0a8f08;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
